h1 {
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif; /*Tipo da fonte*/
    background-color: rgb(209, 107, 11); /*Cor do Fundo*/
    padding: 0.5rem; /*Margem*/
    font-size: 1.5rem; /*Fonte da Letra*/
}

ul {
    padding-left: 1rem ; /*Margem da esquerda*/
    list-style-type: none; /*Tira a bolinha da lista*/
}

nav ul li{
    background-color: aquamarine;/*Cor do Fundo*/
    color: red;
    margin: bottom 0.5rem;
    padding: 0.25rem;/*Margem*/
}

nav ul li a {
    color: red
}

article{
    border: 2px solid rgb(209, 107, 11); /*Borda */
    padding: 1.5rem;/*Margem*/
}

article section h2 {
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(209, 107, 11); /*Cor do Fundo*/
    padding: 0.5rem; /*Margem*/
    font-size: 1.5rem;
    margin-top: 0; /*Margem do Topo*/
}

article section p {
    font-family: Arial, Helvetica, sans-serif;

}

article section {
    width: 420px; /*Largura*/
    border: 1px solid  rgb(209, 107, 11);
    box-sizing: border-box;
    padding: 0.5rem;

}

article {
    display: flex;
    justify-content: space-between;
}

footer p a{
    display: inline-block;
    padding: 0.5rem;
    background-color: darkcyan;
    color: #FFF;
    text-decoration: none; /*Sublinhado do link,none=Sem*/
    border-radius: 0.5rem; /*Tamanho da borda arredondada*/
    box-shadow: #000 0 0 10px 0px; /*Sombreamento*/
}